/* Styles the body. */
body {
    font-family: 'Roboto';
    background: #22c1c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Styles the To-Do list header. */
h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

/* Styles the list of tasks. */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Styles the trash icons. */
span {
    /* General styling for trash icons. */
    background: #ec7c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;

    /* Hides trash icons. */
    display: inline-block;
    width: 0;
    transition: 0.2s linear;
    opacity: 0;
}

/* General styling for text bar. */
input {
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    margin: 0;
    /* TODO(benlee12): add webkit */
    box-sizing: border-box;
    /* Unfocused border is same size as focused border. */
    border: 3px solid rgba(0, 0, 0, 0);
}

/* Styles the To-Do elements. */
li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

/* Creates alternativing light and dark list pattern. */
li:nth-child(even) {
    background: #f7f7f7;
}


/* Displays trash icons when To-Do element is hovered over. */
li:hover span {
    width: 40px;
    opacity: 1;
}

/* Styles the text bar when focused. */
input:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

/* Floats the plus button to the right. */
.fa-plus {
    float: right;
}


/* Styles a completed To-Do. */
.completed {
    color: gray;
    text-decoration: line-through;
}

/* Styles the container for the To-Do list. */
#container {
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}